<template>
  <ion-page>
    <ion-header :translucent="true">
      <ion-toolbar>
        <ion-buttons slot="start"> <!-- eslint-disable-line -->
          <ion-menu-button color="primary"></ion-menu-button>
        </ion-buttons>
        <ion-title>Conversión</ion-title>
      </ion-toolbar>
    </ion-header>
    
    <ion-content :fullscreen="true">
      <ion-header collapse="condense">
        <ion-toolbar>
          <ion-title size="large">Conversión</ion-title>
        </ion-toolbar>
      </ion-header>
    
      <div id="container">
        <ion-item>
          <ion-label position="floating">Número indoarábigo</ion-label>
          <ion-input type="text" v-model="numeroEntrada"></ion-input>
        </ion-item>
        <br>
        <ion-button @click="convertir()" :disabled="numeroEntradaInvalido">
          Convertir
        </ion-button>
        <div  v-if="mostrar">
          <h1>Número maya</h1>
          <ion-grid>
            <ion-row>
              <ion-col v-for="titulo in listaTitulos" :key="titulo">
                <h2>
                  <b>{{ titulo }}</b>
                </h2>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col v-for="(convertido, i) in listaConvertidos" :key="i">
                <div v-if="convertido.value.esImagen">
                  <div v-for="(enlace, j) in convertido.value.cadena" :key="j">
                    <ion-img :src="enlace" class="glifo"></ion-img>
                  </div>
                </div>
                <div v-else>
                  <div v-for="(simbolo, j) in convertido.value.cadena" :key="j">
                    <h1>{{ simbolo }}</h1>
                  </div>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </div>
    </ion-content>
  </ion-page>
</template>

<script lang="ts">
import { IonButtons, IonContent, IonHeader, IonMenuButton, IonPage, IonTitle, IonToolbar, IonItem, IonLabel,
IonInput, IonButton, IonGrid, IonRow, IonCol, IonImg } from '@ionic/vue';
import { computed, ref } from 'vue';
import numeracionMaya from '@/modulos/numeracion_maya';
import numeracionMayaAstronomica from '@/modulos/numeracion_maya_astronomica';
import numeracionMayaCefalomorfo from '@/modulos/numeracion_maya_cefalomorfo';

export default {
  name: 'Folder',
  components: {
    IonButtons,
    IonContent,
    IonHeader,
    IonMenuButton,
    IonPage,
    IonTitle,
    IonToolbar,
    IonItem,
    IonLabel,
    IonInput,
    IonButton,
    IonGrid,
    IonRow,
    IonCol,
    IonImg
  },
  setup() {
    const numeroEntrada = ref<string>('');
    const numeroEntradaInvalido = computed(() => !/^\d+$/.test(numeroEntrada.value));
    const mostrar = ref(false);
    
    // objetos que incluyen la cadena de numeros y el tipo (imagen o texto)
    const convertidoMaya = ref();
    const convertidoMayaAstronomico = ref();
    const convertidoMayaCefalomorfo = ref();

    const convertirAMaya = numeracionMaya();
    const convertirAMayaAstronomico = numeracionMayaAstronomica();
    const convertirAMayaCefalomorfo = numeracionMayaCefalomorfo();

    const convertir = () => {
      convertidoMaya.value = convertirAMaya(numeroEntrada.value);
      convertidoMayaAstronomico.value = convertirAMayaAstronomico(numeroEntrada.value);
      convertidoMayaCefalomorfo.value = convertirAMayaCefalomorfo(numeroEntrada.value);
      mostrar.value = true;
    };
    const listaTitulos = ['Numeración comercial', 'Numeración astronómica', 'Numeración cefalomorfa'];
    const listaConvertidos = [convertidoMaya, convertidoMayaAstronomico, convertidoMayaCefalomorfo];

    return {
      numeroEntrada,
      numeroEntradaInvalido,
      mostrar,
      convertir,
      listaTitulos,
      listaConvertidos
    }
  }
}
</script>

<style scoped>
.glifo {
  width: 5em;
  height: 5em;
  margin: auto;
}
</style>