<template>
  <ion-page>
    <ion-header :translucent="true">
      <ion-toolbar>
          <ion-buttons slot="start"> <!-- eslint-disable-line -->
          <ion-menu-button color="primary"></ion-menu-button>
        </ion-buttons>
        <ion-title>Lista de números</ion-title>
      </ion-toolbar>
    </ion-header>
    
    <ion-content :fullscreen="true">
      <ion-header collapse="condense">
        <ion-toolbar>
          <ion-title size="large">Lista de números</ion-title>
        </ion-toolbar>
      </ion-header>
    
      <div id="container">
        <ion-grid>
          <ion-row>
            <ion-col v-for="(titulo, indice) in listaTitulos" :key="indice" class="celda_lista">
              <b>{{ titulo }}</b>
            </ion-col>
          </ion-row>
          <ion-row v-for="numeroIndoarabigo in maximoNumeros" :key="numeroIndoarabigo">
              <ion-col class="celda_lista">
                  <h2>{{ numeroIndoarabigo - 1 }}</h2>
              </ion-col>
              <ion-col class="celda_lista">
                  <div v-for="(simbolo, indice) in convertirAMaya(numeroIndoarabigo - 1).cadena" :key="indice">
                    <h1>{{ simbolo }}</h1>
                  </div>
              </ion-col>
              <ion-col class="celda_lista">
                  <div v-for="(enlace, indice) in convertirAMayaCefalomorfo(numeroIndoarabigo - 1).cadena"
                  :key="indice">
                    <ion-img :src="enlace" class="glifo_pequeno"></ion-img>
                  </div>
              </ion-col>
          </ion-row>
        </ion-grid>
        <ion-button @click="verMas()">Ver más números</ion-button>
      </div>
    </ion-content>
  </ion-page>
</template>

<script lang="ts">
import { IonButtons, IonContent, IonHeader, IonMenuButton, IonPage, IonTitle, IonToolbar, IonGrid, IonRow,
IonCol, IonButton, IonImg } from '@ionic/vue';
import { ref } from 'vue';

import numeracionMaya from '@/modulos/numeracion_maya';
import numeracionMayaCefalomorfo from '@/modulos/numeracion_maya_cefalomorfo';

export default {
  name: 'Folder',
  components: {
    IonButtons,
    IonContent,
    IonHeader,
    IonMenuButton,
    IonPage,
    IonTitle,
    IonToolbar,
    IonGrid,
    IonRow,
    IonCol,
    IonButton,
    IonImg
  },
  setup() {
    const listaTitulos = ['Número indoarábigo', 'Número maya (comercial)', 'Número maya (cefalomorfo)'];

    const maximoNumeros = ref(20);
    const verMas = () => {
      maximoNumeros.value += 20
    };
    const convertirAMaya = numeracionMaya();
    const convertirAMayaCefalomorfo = numeracionMayaCefalomorfo();

    return {
      listaTitulos,
      maximoNumeros,
      verMas,
      convertirAMaya,
      convertirAMayaCefalomorfo
    }
  }
}
</script>

<style scoped>
.celda_lista {
  border: lightgray 1px solid;
}

.glifo_pequeno {
  width: 3em;
  height: 3em;
  margin: auto;
}
</style>